extends ../../layout.jade

block hero-id
	- var heroID = "white-white-red-hero"
block hero-title
	| WHITE WHITE RED: 
	span.small living woman
block hero-subtitle
	| found object collage construction, video, photography
block content
	#white-white-red.project
		.project-info
			.title WHITE WHITE RED: living woman 
			.medium Found object collage construction, video, photography
			.year 2013–2015
		.row.center
			img.lazy.four(data-original='/public/images/white_white_red/sanguine_way/01_2sanguine_st2.JPG')
			img.lazy.four(data-original='/public/images/white_white_red/sanguine_way/01_4sanguine_st4.JPG')
			img.lazy.four(data-original='/public/images/white_white_red/sanguine_way/01_6sanguine_st9.JPG')
			img.lazy.four(data-original='/public/images/white_white_red/sanguine_way/01_8sanguine_st14.JPG')
		.statement
			.label STATEMENT
			p
				| Discontinuity marks the female experience. Physical disruptions and changes, such as menstruation and childbearing, have social, emotional,  and psychological weight. Through video, photography, and collage construction through found material, this body of interdisciplinary work explores female physical changes and how these experiences, and recovery from them, shape inner life and self perception.
			p
				| Many of these dramatic physical changes are preparation for new life. Yet, death, pain, and loss are intrinsically tied into their cycles. It is then, apt to draw on Western Christian compositions: as with Sanguine (way), the menstrual cycle as the stations of the cross, this format illuminates each journey toward death to life, and help to uncover the spiritual dimension of physical experience.
			p
				| The body is both displayed and transformed through pieces such as HOME GROAN: blast-o!, a hat/mask made from a baby shower’s leftover wrapping paper and balloons, which use abstracted, repetitive forms to depict inner and outer changes in the female body--in this case, the blastocyst stage in early embryonic development as well as nursing breasts.
			p
				| A provocative, serious, and playful meditation that bridges inner and outer transformation, WHITE WHITE RED: living woman closely observes both inward and outward to describe an archetypal spiritual struggle as incarnated in the female experience.
		.title.small Sanguine (way)
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/white_white_red/sanguine_way/01_1sanguine_1.JPG')
				.item-info
					.item-title detail
					.item-dimensions 6" x 8"
					.item-medium fabric collage
		.row.center
			.project-item.two
				img.lazy(data-original='/public/images/white_white_red/sanguine_way/01_2sanguine_st2.JPG')
				.item-info
					.item-title Station Ⅱ
					.item-dimensions 6" x 8"
					.item-medium fabric collage
			.project-item.two
				img.lazy(data-original='/public/images/white_white_red/sanguine_way/01_3sanguine_st3.JPG')
				.item-info
					.item-title Station Ⅲ
					.item-dimensions 6" x 8"
					.item-medium fabric collage
		.row.center
			.project-item.two
				img.lazy(data-original='/public/images/white_white_red/sanguine_way/01_4sanguine_st4.JPG')
				.item-info
					.item-title Station Ⅳ
					.item-dimensions 6" x 8"
					.item-medium fabric collage
			.project-item.two
				img.lazy(data-original='/public/images/white_white_red/sanguine_way/01_5sanguine_st8.JPG')
				.item-info
					.item-title Station Ⅷ
					.item-dimensions 6" x 8"
					.item-medium fabric collage
		.poem
			| I. Her bleeding begins
			br
			| II. She carries her cross
			br
			| III. She falls the first time
			br
			| IV. She rests
			br
			| V. She rebuilds
			br
			| VI. She wipes her face
			br
			| VII. She ovulates
			br
			| VIII. She collects
			br
			| IX. She secrets / She meets the women
			br
			| X, She is left empty
			br
			| XI. She lies down
			br
			| XII. She degenerates
			br
			| XIII. She ends endometrial
			br
			| XVI. Her resurrection
		.row.center
			.project-item.two
				img.lazy(data-original='/public/images/white_white_red/sanguine_way/01_6sanguine_st9.JPG')
				.item-info
					.item-title Station Ⅸ
					.item-dimensions 6" x 8"
					.item-medium fabric collage
			.project-item.two
				img.lazy(data-original='/public/images/white_white_red/sanguine_way/01_7sanguine_st10.JPG')
				.item-info
					.item-title Station Ⅹ
					.item-dimensions 6" x 8"
					.item-medium fabric collage
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/white_white_red/sanguine_way/01_8sanguine_st14.JPG')
				.item-info
					.item-title Station Ⅺ Ⅴ
					.item-dimensions 6" x 8"
					.item-medium fabric collage
		.title.small Uterus Necklace: Bleeding the Lining of My Uterus Through My Sexual Organs
		.row.center.no-bottom
			.project-item.one
				img.lazy(data-original='/public/images/white_white_red/uterus_necklace/02_1_uterus_necklace_wearing.JPG')
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/white_white_red/uterus_necklace/02_0uterus_necklace_plain.jpg')
				.item-info
					.item-title Uterus Necklace: Bleeding the Lining of My Uterus Through My Sexual Organs
					.item-dimensions 12" x 4" x 1/4"
					.item-medium fabric collage
		.title.small Ovary Earrings: Follicles Preparing for Potential Impregnation
		.row.center
			.project-item.two
				img.lazy(data-original='/public/images/white_white_red/ovary/ovary_earrings.JPG')
				.item-info
					.item-title  
					.item-dimensions  
					.item-medium  
			.project-item.two
				img.lazy(data-original='/public/images/white_white_red/ovary/ovary_detail.jpeg')
				.item-info
					.item-title
					.item-dimensions
					.item-medium
		.row.center
			.project-item.one.medium
				img.lazy(data-original='/public/images/white_white_red/ovary/ovary_side.JPG')
				.item-info
					.item-title Ovary Earrings: Follicles Preparing for Potential Impregnation
					.item-dimensions 4.25" x 2" x 1"
					.item-medium fabric, beads
		.title.small HOME GROAN
		.row.center.no-bottom
			.project-item.one.large
				img.lazy(data-original='/public/images/white_white_red/home_grown/blasto_detail.JPG')
		.row.center
			.project-item.two
				img.lazy(data-original='/public/images/white_white_red/home_grown/blasto-back.jpg')
				.item-info
					.item-title  
					.item-dimensions  
					.item-medium  
			.project-item.two
				img.lazy(data-original='/public/images/white_white_red/home_grown/blasto-front.jpg')
				.item-info
					.item-title HOME GROAN: blast-o!
					.item-dimensions 18" x 21" x 18"
					.item-medium plastic wrap
					.item-photographer photos by Israel Soler
		.row.center.no-bottom.top-margin
			.project-item.one.medium
				img.lazy(data-original='/public/images/white_white_red/home_grown/pop-detail.jpg')
		.row.center
			.project-item.one.medium
				img.lazy(data-original='/public/images/white_white_red/home_grown/pop-1.jpg')
		.row.center.bottom-margin.no-top
			.project-item.one.medium
				img.lazy(data-original='/public/images/white_white_red/home_grown/pop-2.jpeg')
				.item-info
					.item-title HOME GROAN: pop
					.item-dimensions 18" x 17" x 17"
					.item-medium paper mache
					.item-photographer photos by Israel Soler
		.title.small Fortunate Diptych
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/white_white_red/fortunate/07_fortunate_dyptich.jpg')
				.item-info
					.item-title Fortunate Diptych
					.item-dimensions dimensions variable
					.item-medium digital photo
		.title.small She Said No
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/white_white_red/she_said_no/06_she_said_no-lo.jpg')
				.item-info
					.item-title She Said No
					.item-dimensions dimensions variable
					.item-medium digital photo
		.title.small Take This Cup
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/white_white_red/flight/beginning.jpg')
				img.lazy(data-original='/public/images/white_white_red/flight/middle.jpg')
				img.lazy(data-original='/public/images/white_white_red/flight/ending.png')
				.item-info
					.item-title Take This Cup: fight flight remember (recover)
					.item-dimensions 18.5" x 26.75" x 4.375"
					.item-medium stills from video (part 1/3)