extends ../../layout.jade

block hero-id
	- var heroID = "genesis-dreamtime-hero"
block hero-title
	| Genesis & Dreamtime
block hero-subtitle
	| oil on canvas and watercolors
block content
	#genesis-dreamtime.project
		.project-info
			.title Genesis & Dreamtime
			.medium oil on canvas and watercolors
			.year 2011&#8212;2012
		.statement
			.label STATEMENT
			p
				| While my current work is interdisciplinary, my early work was almost exclusively painting. In 
				em Genesis & Dreamtime
				| , I developed my own abstract symbols to create paintings based on the Judaeo-Christian creation narrative. The forms I developed, inspired by cellular biology and oceanic forms, as well as the emphasis on the growth process, shaped my later work.
		.row.center.top-margin
			.project-item.one
				img.lazy(data-original='/public/images/genesis_and_dreamtime/01_void.JPG')
				.item-info
					.item-title Void
					.item-dimensions 28" x 28"
					.item-medium oil on canvas
		.row.center.top-margin
			.project-item.one
				img.lazy(data-original='/public/images/genesis_and_dreamtime/02_pull.JPG')
				.item-info
					.item-title Pull
					.item-dimensions 24 3/4" x 16 5/8"
					.item-medium oil on canvas
		.row.center.top-margin
			.project-item.one
				img.lazy(data-original='/public/images/genesis_and_dreamtime/03_touch_in_the_image.JPG')
				.item-info
					.item-title Touch (In the Image)
					.item-dimensions 48" x 58"
					.item-medium oil on canvas
		.row.center.top-margin
			.project-item.one
				img.lazy(data-original='/public/images/genesis_and_dreamtime/04_birth_over_the_waters.jpg')
				.item-info
					.item-title Birth (Over the Waters)
					.item-dimensions 60" x 53"
					.item-medium oil on canvas
		.row.center.top-margin
			.project-item.one
				img.lazy(data-original='/public/images/genesis_and_dreamtime/05_choke_hide.JPG')
				.item-info
					.item-title Choke (Hide)
					.item-dimensions 12" x 18"
					.item-medium watercolor
		.row.center.top-margin
			.project-item.one
				img.lazy(data-original='/public/images/genesis_and_dreamtime/06_IMG_0529.JPG')
				.item-info
					.item-title Day 3
					.item-dimensions
					.item-medium
		.row.center.top-margin
			.project-item.one
				img.lazy(data-original='/public/images/genesis_and_dreamtime/07_IMG_0530.JPG')
				.item-info
					.item-title Day 3&#8211;4
					.item-dimensions
					.item-medium