doctype html
html
	head
		<meta http-equiv="Content-Type" content="text/html;" charset=utf-8>
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(rel="stylesheet", type="text/css", href="/public/css/all.css")
		script(src="/public/vendor/min/jquery.js")
		script(src="/public/vendor/min/jquery.lazyload.js")
		script(src="/public/vendor/min/handlebars.js")
		script(src="/public/js/min/all.js")
		title SheriPark.com
	body
		include partials/_hero.jade
		.main-wrapper
			include partials/_nav.jade
			block main-container-id
			.main-container(id= mainContainerID)
				.content
					block content
			include partials/_footer.jade