extends _layout.jade

block hero-id
	- var heroID = "index-hero"
block hero-title
	| As I Am, Changing
block hero-subtitle
	| Exhibition in Tokyo, 10.29.16 &#8212; 11.12.16
block content
	include projects/homepage/as_i_am_changing.jade
	hr
	br
	include projects/homepage/white_white_red.jade
	hr
	br
	include projects/homepage/today_fri_sat_sun.jade