doctype html
html
	head
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic|Mate:400,400italic', rel='stylesheet', type='text/css')
		link(rel="stylesheet", type="text/css", href="/public/css/all.css")
		script(src="/public/vendor/min/jquery.js")
		script(src="/public/vendor/min/jquery.lazyload.js")
		script(src="/public/vendor/min/handlebars.js")
		script(src="/public/js/min/all.js")
		title SheriPark.com
	body
		include partials/_hero.jade
		.main-wrapper
			include partials/_nav.jade
			block main-container-id
			.main-container(id= mainContainerID)
				.content
					block content
			include partials/_footer.jade