extends ../../templates/_project.jade
block project-id
	- var projectID = "genesis-dreamtime";
block project-title 
	= "Genesis & Dreamtime"
block project-medium
	= "oil on canvas and watercolors"
block project-year
	| 2011&mdash;2012
block project-content
	.row.center
		img.lazy.one(data-original='/public/images/genesis_and_dreamtime/03_touch_in_the_image.JPG')
	.statement.lotsa-margin
		p
			| While my current work is interdisciplinary, my early work was almost exclusively painting. In 
			em Genesis & Dreamtime
			| , I developed my own abstract symbols to create paintings based on the Judaeo-Christian creation narrative...
		.portfolio-link
			| [ 
			a(href='/archive/genesis-and-dreamtime/') view more
			|  ]

