extends ../../templates/_project.jade
block project-id
	- var projectID = "stack-through";
block project-title 
	= "stack through"
block project-medium
	= "acrylic on catalog cards"
block project-year
	| 2011
block project-content
	.row.center
		img.lazy.one(data-original='/public/images/stack_through/02_children_of_disorg.jpg')
	.statement.lotsa-margin
		p
			| This project was an early venture into creating work out of found objects from my local community, a method I am currently pursuing with 
			em YESTERDAY, TODAY, TOMORROW: glory
			| ...
		.portfolio-link
			| [ 
			a(href='/archive/stack-through/') view more
			|  ]
