extends ../../templates/_project.jade
block project-id
	- var projectID = "still-hanoi";
block project-title 
	= "Still Hanoi Move"
block project-medium
	= "digital photos"
block project-year
	| 2011
block project-content
	.row.center
		img.lazy.one(data-original='/public/images/still_hanoi_move/06park_peopleVn2011_extra1.JPG')
	.statement.lotsa-margin
		p
			| Taken during my 12 week stay in the bustling capitol of Vietnam, this digital street photography depicts people using various means of transportation...
		.portfolio-link
			| [ 
			a(href='/archive/still-hanoi-move/') view more
			|  ]

