extends ../../templates/_project.jade
block project-id
	- var projectID = "white-white-red";
block project-title 
	= "WHITE WHITE RED: living woman"
block project-medium
	= "Found object collage construction, video, photography"
block project-year
	= "2013&ndash;2015"
block project-content
	.row.center.top-margin
		img.lazy.four(data-original='/public/images/white_white_red/sanguine_way/01_2sanguine_st2.JPG')
		img.lazy.four(data-original='/public/images/white_white_red/sanguine_way/01_4sanguine_st4.JPG')
		img.lazy.four(data-original='/public/images/white_white_red/sanguine_way/01_6sanguine_st9.JPG')
		img.lazy.four(data-original='/public/images/white_white_red/sanguine_way/01_8sanguine_st14.JPG')
	.row.center
		.statement.lotsa-margin
			p
				| Discontinuity marks the female experience. Physical disruptions and changes, such as menstruation and childbearing, have social, emotional,  and psychological weight. Through video, photography, and collage construction through found material, this body of interdisciplinary work explores female physical changes and how these experiences, and recovery from them, shape inner life and self perception...
			.portfolio-link
				| [ 
				a(href='/portfolio/white-white-red/') view more
				|  ]
	.row.center
		img.lazy.one.medium(data-original='/public/images/white_white_red/uterus_necklace/02_1_uterus_necklace_wearing.JPG')
		.current-exhibit
			ul
				li.ex-title video, photography, found object collage construction
				li Gallery Route One
				li Pointe Reyes Station, 11101 Highway One
				li
					span.small Opening: 
					em Feb 8th
					| , 3&#8211;5pm; 
					span.small Closing Salon:
					em Mar 15th
					| , 4pm&#8211;5pm;
				li
					span.small Viewing: 
					| Wednesday's &#8212; Tuesday's, 11&#8211;5pm
			a(href='https://www.facebook.com/events/1494535530771331/')
				img.lazy.icon(data-original='/public/images/icon/fb.png')