extends ../layout.jade

block hero-id
	- var heroID = "archive-hero"
block hero-title
	| Archive
block content
	include ../projects/archive/still_hanoi_move.jade
	hr
	br
	include ../projects/archive/stack_through.jade
	hr
	br
	include ../projects/archive/genesis_and_dreamtime.jade

