html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* latin */
@font-face {
  font-family: 'Mate';
  font-style: normal;
  font-weight: 400;
  src: local("Mate-Regular"), url('/public/fonts/Mate/Mate-Regular.ttf?1439563126') format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Mate';
  font-style: italic;
  font-weight: 400;
  src: local("Mate Italic"), local("Mate-Italic"), url('/public/fonts/Mate/Mate-Italic.ttf?1439563126') format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url('/public/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf?1439563126') format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url('/public/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf?1439563126') format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url('/public/fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf?1439563126') format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
img, .hero .wrapper .hero-image,
.hero .wrapper .overlay, .icon, a, .hero .wrapper .hero-text, .title, .subtitle {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out; }

img {
  max-width: 100%;
  height: auto; }

.main-wrapper {
  position: relative;
  background: url("../../public/images/bg3ab.png");
  background-repeat: repeat;
  padding: 25px 0px 60px 0px;
  margin-top: 90vh; }

.main-container {
  margin: 0 auto;
  width: calc(100% - 100px - 100px);
  max-width: 1200px;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.75); }

.logo-nav {
  position: inherit;
  margin-bottom: 25px; }
  .logo-nav li {
    display: inline-block;
    padding: 5px 10px; }
  .logo-nav .logo {
    max-width: 350px;
    display: block;
    width: auto;
    margin: 0 auto; }
    .logo-nav .logo img {
      max-width: 50px;
      margin-left: -21px;
      opacity: 1; }
      .logo-nav .logo img:hover {
        opacity: .7; }

#genesis-dreamtime-hero .wrapper .hero-image {
  background-image: url('/public/images/genesis_and_dreamtime/03_touch_in_the_image.JPG?1430957353'); }

#archive-hero .wrapper .hero-image {
  background-image: url('/public/images/still_hanoi_move/02park_landscapeVn2011_extra3.JPG?1430957353'); }

#stack-through-hero .wrapper .hero-image {
  background-image: url('/public/images/stack_through/03_patterns_of_problem.jpg?1430964924'); }

#still-hanoi-hero .wrapper .hero-image {
  background-image: url('/public/images/still_hanoi_move/08park_xtragood4.JPG?1430957353'); }

#as-i-am-changing-hero .wrapper .hero-image {
  background-image: url('/public/images/as_i_am_changing/04caged.jpg?1430964923');
  background-size: 110%; }

#index-hero .wrapper .hero-image {
  background-image: url('/public/images/wear_tear-hero.jpg?1453308227');
  background-position-y: center; }

#white-white-red-hero .wrapper .hero-image {
  background-image: url('/public/images/white_white_red/home_grown/pop-2.jpeg?1430964927'); }

#portfolio-hero .wrapper .hero-image {
  background-image: url('/public/images/white_white_red/flight/beginning.jpg?1430964924'); }

#about-hero .wrapper .hero-image {
  background-image: url('/public/images/gen/sheri.jpg?1430957353'); }

#today-fri-sat-sun-hero .wrapper .hero-image {
  background-image: url('/public/images/today_friday_saturday_sunday/Sunday/sunday-2.jpg?1431480814');
  background-position-y: center; }

.hero {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer; }
  .hero .wrapper {
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: rgba(36, 36, 36, 0.4); }
    .hero .wrapper:hover .hero-text {
      -webkit-transform: scale(1.04, 1.04);
          -ms-transform: scale(1.04, 1.04);
              transform: scale(1.04, 1.04); }
    .hero .wrapper:hover .overlay {
      background-color: rgba(36, 36, 36, 0.6); }
    .hero .wrapper .hero-image,
    .hero .wrapper .overlay {
      position: absolute;
      width: 100vw;
      height: 90vh;
      top: 0px;
      left: 0;
      z-index: 10; }
    .hero .wrapper .hero-image {
      background-size: cover !important;
      background-position-x: 50% !important;
      z-index: 5; }
    .hero .wrapper .overlay {
      background-color: rgba(36, 36, 36, 0.4); }
    .hero .wrapper .hero-text {
      z-index: 15;
      position: absolute;
      width: 100vw;
      bottom: 15%;
      left: 0; }
      .hero .wrapper .hero-text .title,
      .hero .wrapper .hero-text .subtitle {
        margin: 0 auto; }
      .hero .wrapper .hero-text .subtitle {
        margin-top: 5px;
        width: 80%; }

.content {
  min-height: 100vh;
  padding: 60px; }

.project.top-margin {
  margin-top: 4em; }
.project .project-info {
  margin-bottom: 4em;
  cursor: pointer; }
  .project .project-info.margin-top {
    margin-top: 40px; }
.project .row {
  width: auto;
  margin: 0 auto;
  margin-bottom: 60px; }
  .project .row.no-bottom {
    margin-bottom: 0px; }
  .project .row.no-top {
    margin-top: -2em; }
  .project .row.top-margin {
    margin-top: 7em; }
  .project .row.bottom-margin {
    margin-bottom: 8em; }
  .project .row .one {
    width: 100%; }
    .project .row .one.medium {
      width: 70%; }
    .project .row .one.small {
      width: 50%; }
  .project .row .four {
    width: 20%;
    height: auto;
    padding: 0 2%; }
.project .statement {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px; }
  .project .statement p {
    margin-bottom: 10px; }
  .project .statement.lotsa-margin {
    margin-top: 6em;
    margin-bottom: 6em; }
.project .title.small {
  margin-bottom: 20px; }
.project .project-item {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top; }
  .project .project-item.one {
    width: 80%; }
    .project .project-item.one.large {
      width: 85%; }
    .project .project-item.one.medium {
      width: 50%; }
    .project .project-item.one img,
    .project .project-item.one div {
      width: 100%;
      height: auto;
      margin: 0 auto; }
  .project .project-item.two {
    width: 40%; }
    .project .project-item.two:first-of-type {
      margin-right: 5%; }
    .project .project-item.two img,
    .project .project-item.two div {
      width: 100%;
      height: auto;
      margin: 0 auto; }
  .project .project-item.three {
    width: 29%; }
    .project .project-item.three img,
    .project .project-item.three div {
      width: 100%;
      height: auto;
      margin: 0 auto; }

#about .project-info,
#about .statement {
  margin: 0 5%; }
#about .project-info {
  margin-bottom: 1em; }

.poem {
  width: 275px;
  margin: 0 auto;
  margin-top: 4em;
  margin-bottom: 6em;
  margin-left: calc(50% - 87px); }

.cv {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1.5em;
  margin-bottom: 6em; }
  .cv .label {
    margin-bottom: .5em;
    margin-top: 3em; }

#white-white-red .current-exhibit {
  margin: 0 auto;
  width: 70%;
  margin-bottom: 4em; }

.current-exhibit {
  margin: 0 5%;
  margin-top: 3em;
  margin-bottom: 3.5em; }
  .current-exhibit .label {
    margin-bottom: -.9em; }

.icon {
  max-width: 20px;
  height: auto;
  cursor: pointer;
  margin-top: 5px;
  opacity: 1; }
  .icon:hover {
    opacity: .7; }
  .icon.left-margin {
    margin-left: 1em; }

footer table {
  width: 70%;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 4em;
  margin-bottom: 1.5em; }
  footer table .logo img {
    width: 150px;
    opacity: 1; }
    footer table .logo img:hover {
      opacity: .7; }

html,
html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-text-stroke: 1px transparent;
  font-smooth: always; }

body {
  font-size: 16px;
  line-height: 20px; }

a {
  color: #4b4b4b;
  text-decoration: none; }
  a:hover {
    color: rgba(75, 75, 75, 0.7); }
  a.black {
    color: black; }
    a.black:hover {
      color: rgba(75, 75, 75, 0.7); }

.header-text {
  color: #f4f1f1; }

.header-sub-text {
  color: #c3c3c3; }

.main-container {
  color: #4b4b4b; }

.main-text {
  color: #4b4b4b; }

.secondary-text {
  color: rgba(75, 75, 75, 0.7); }

.mate, .title, .subtitle, .project .project-info .title, .project .project-info .medium, .project .project-info .year, footer table {
  font-family: "Mate", sans-serif; }

.source-sans, body, .statement p {
  font-family: "Source Sans Pro", serif; }

.hero .wrapper:hover .hero-text {
  color: white; }
.hero .wrapper .hero-text {
  color: #f4f1f1; }
  .hero .wrapper .hero-text .title,
  .hero .wrapper .hero-text .subtitle {
    text-align: center; }
  .hero .wrapper .hero-text .subtitle {
    line-height: 30px; }

.title {
  font-weight: 100;
  font-size: 40px;
  line-height: 52px; }
  .title.small {
    font-size: 22px;
    line-height: 24px;
    margin-left: 5%;
    margin-top: 6em;
    max-width: 70%; }

.subtitle {
  font-size: 26px; }

.logo-nav {
  text-align: center; }
  .logo-nav a {
    color: rgba(75, 75, 75, 0.7);
    text-decoration: none; }
    .logo-nav a:hover {
      color: #4b4b4b; }
  .logo-nav .logo {
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 26px; }

.project .project-info .medium, .project .project-info .year {
  font-size: 26px;
  line-height: 28px; }
.project .project-info:hover .title {
  color: #262626; }
.project .row.center {
  text-align: center; }
.project .project-item {
  text-align: center; }
  .project .project-item.one div {
    text-align: right; }
  .project .project-item.two div {
    text-align: right; }
  .project .project-item.three div {
    text-align: right; }
  .project .project-item .item-title {
    font-style: italic; }

.current-exhibit .label {
  font-size: .8em; }
.current-exhibit ul li {
  font-size: 1.1em; }
  .current-exhibit ul li.ex-title {
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.8em;
    margin-bottom: -.25em; }
  .current-exhibit ul li em {
    font-style: italic; }

.statement {
  text-align: left; }
  .statement em {
    font-style: italic; }

.poem {
  line-height: 2.2em; }

.quote {
  width: 70%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  font-style: italic;
  text-align: left;
  font-size: 22px;
  line-height: 27px; }
  .quote p {
    margin-bottom: 20px; }
  .quote .author {
    margin-top: 15px;
    font-size: 16px;
    line-height: 22px; }
    .quote .author .name {
      font-style: normal;
      font-weight: 700; }

.portfolio-link {
  text-align: right; }

.cv .label {
  text-transform: uppercase;
  font-weight: 600; }

#about .statement {
  margin-bottom: 1em; }
  #about .statement:first-of-type {
    margin-top: 2em; }

footer table {
  font-size: .85em; }
  footer table tr td a {
    color: rgba(75, 75, 75, 0.7); }
    footer table tr td a:hover {
      color: #4b4b4b; }
