/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
.header-text {
  color: #f4f1f1; }

.header-sub-text {
  color: #c3c3c3; }

.main-text {
  color: #4b4b4b; }

.secondary-text {
  color: rgba(75, 75, 75, 0.7); }

.mate, .title, .subtitle, .project .project-info .title, .project .project-info .medium, .project .project-info .year, footer table {
  font-family: 'Mate', serif; }

.source-sans, body, .statement p {
  font-family: 'Source Sans Pro', sans-serif; }

body {
  font-size: 16px;
  line-height: 20px; }

.title {
  font-weight: 100;
  font-size: 40px;
  line-height: 52px; }
  .title.small {
    font-size: 22px;
    line-height: 24px;
    margin-left: 5%;
    margin-top: 6em;
    max-width: 70%; }

.subtitle {
  font-size: 26px; }

.project .project-info .title, .project .project-info .medium, .project .project-info .year {
  color: rgba(75, 75, 75, 0.7); }
.project .project-info .medium, .project .project-info .year {
  font-size: 26px;
  line-height: 28px; }

.statement em {
  font-style: italic; }

.quote {
  width: 70%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  font-style: italic;
  text-align: left;
  font-size: 22px;
  line-height: 27px; }
  .quote p {
    margin-bottom: 20px; }
  .quote .author {
    margin-top: 15px;
    font-size: 16px;
    line-height: 22px; }
    .quote .author .name {
      font-style: normal;
      font-weight: 700; }

.portfolio-link {
  text-align: right; }

a.black {
  color: black; }
  a.black:hover {
    color: rgba(75, 75, 75, 0.7); }

html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-text-stroke: 1px transparent;
  font-smooth: always; }

a {
  color: #4b4b4b;
  text-decoration: none;
  transition: all 250ms ease-in-out; }
  a:hover {
    color: rgba(75, 75, 75, 0.7); }

.main-wrapper {
  z-index: 20;
  background: url("../../public/images/bg3ab.png");
  background-repeat: repeat;
  padding: 25px 0px 60px 0px;
  margin-top: 800px;
  position: relative; }

.main-container {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 750px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 20;
  width: calc(100% - 200px);
  color: #4b4b4b; }

.logo-nav {
  position: inherit;
  text-align: center;
  margin-bottom: 25px; }
  .logo-nav a {
    color: rgba(75, 75, 75, 0.7);
    padding: 5px 10px;
    padding-right: 20px;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 0px;
    text-decoration: none;
    width: auto;
    transition: all 250ms ease-in-out; }
    .logo-nav a:first-of-type {
      padding-right: 10px; }
    .logo-nav a:hover {
      color: #4b4b4b; }
  .logo-nav .logo {
    max-width: 350px;
    display: block;
    width: auto;
    margin: 0 auto;
    text-decoration: underline;
    font-size: 26px;
    text-transform: capitalize; }
    .logo-nav .logo img {
      max-width: 50px;
      margin-left: -21px;
      opacity: 1;
      transition: all 250ms ease-in-out; }
      .logo-nav .logo img:hover {
        opacity: .7; }

#genesis-dreamtime-hero .wrapper .hero-image {
  background: url("../../public/images/genesis_and_dreamtime/03_touch_in_the_image.JPG"); }

#archive-hero .wrapper .hero-image {
  background: url("../../public/images/still_hanoi_move/02park_landscapeVn2011_extra3.JPG"); }

#stack-through-hero .wrapper .hero-image {
  background: url("../../public/images/stack_through/03_patterns_of_problem.jpg"); }

#still-hanoi-hero .wrapper .hero-image {
  background: url("../../public/images/still_hanoi_move/08park_xtragood4.JPG");
  background-size: cover; }

#as-i-am-changing-hero .wrapper .hero-image {
  background: url("../../public/images/as_i_am_changing/04caged.jpg");
  background-size: 110%;
  background-position: center; }

#index-hero .wrapper .hero-image {
  background: url("../../public/images/sanguine_hero.JPG");
  background-size: cover; }

#white-white-red-hero .wrapper .hero-image {
  background: url("../../public/images/white_white_red/home_grown/pop-2.jpeg");
  background-size: cover; }

#portfolio-hero .wrapper .hero-image {
  background: url("../../public/images/white_white_red/flight/beginning.jpg");
  background-size: cover; }

#about-hero .wrapper .hero-image {
  background: url("../../public/images/gen/sheri.jpg");
  background-size: cover; }

.hero {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  cursor: pointer; }
  .hero .wrapper {
    position: relative;
    width: 100%;
    height: 750px;
    background-color: rgba(36, 36, 36, 0.4); }
    .hero .wrapper:hover .hero-text {
      transform: scale(1.04, 1.04);
      color: white; }
    .hero .wrapper:hover .overlay {
      background-color: rgba(36, 36, 36, 0.6); }
    .hero .wrapper .hero-image, .hero .wrapper .overlay {
      position: absolute;
      width: 100%;
      height: 750px;
      top: 0px;
      left: 0;
      z-index: 10; }
    .hero .wrapper .hero-image {
      background-size: cover;
      background-position: center;
      z-index: 5;
      transition: all 250ms ease-in-out; }
    .hero .wrapper .overlay {
      transition: all 250ms ease-in-out;
      background-color: rgba(36, 36, 36, 0.4); }
    .hero .wrapper .hero-text {
      position: absolute;
      width: 100%;
      min-width: 600px;
      bottom: 15%;
      left: 0;
      z-index: 15;
      transition: all 250ms ease-in-out;
      color: #f4f1f1; }
      .hero .wrapper .hero-text .title, .hero .wrapper .hero-text .subtitle {
        text-align: center;
        margin: 0 auto;
        transition: all 250ms ease-in-out; }
      .hero .wrapper .hero-text .subtitle {
        margin-top: 10px; }

.content {
  min-height: 300px;
  padding: 60px; }

.project.top-margin {
  margin-top: 4em; }
.project .project-info {
  margin-bottom: 4em;
  cursor: pointer; }
  .project .project-info:hover .title {
    color: #262626; }
  .project .project-info.margin-top {
    margin-top: 40px; }
  .project .project-info .title {
    transition: all 250ms ease-in-out; }
.project .row {
  width: auto;
  margin: 0 auto;
  margin-bottom: 60px; }
  .project .row.center {
    text-align: center; }
  .project .row.no-bottom {
    margin-bottom: 0px; }
  .project .row.no-top {
    margin-top: -2em; }
  .project .row.top-margin {
    margin-top: 7em; }
  .project .row.bottom-margin {
    margin-bottom: 8em; }
  .project .row .one {
    width: 100%; }
    .project .row .one.medium {
      width: 70%; }
  .project .row .four {
    width: 20%;
    height: auto;
    padding: 0 2%; }
.project .statement {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px; }
  .project .statement p {
    margin-bottom: 10px; }
  .project .statement.lotsa-margin {
    margin-top: 6em;
    margin-bottom: 6em; }
.project .title.small {
  margin-bottom: 20px; }
.project .project-item {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: inline-block;
  vertical-align: top; }
  .project .project-item.one {
    width: 80%; }
    .project .project-item.one.large {
      width: 85%; }
    .project .project-item.one.medium {
      width: 50%; }
    .project .project-item.one img, .project .project-item.one div {
      width: 100%;
      height: auto;
      margin: 0 auto; }
    .project .project-item.one div {
      text-align: right; }
  .project .project-item.two {
    width: 40%; }
    .project .project-item.two:first-of-type {
      margin-right: 5%; }
    .project .project-item.two img, .project .project-item.two div {
      width: 100%;
      height: auto;
      margin: 0 auto; }
    .project .project-item.two div {
      text-align: right; }
  .project .project-item.three {
    width: 29%; }
    .project .project-item.three img, .project .project-item.three div {
      width: 100%;
      height: auto;
      margin: 0 auto; }
    .project .project-item.three div {
      text-align: right; }
  .project .project-item .item-title {
    font-style: italic; }

#about .project-info, #about .statement {
  margin: 0 5%; }
#about .project-info {
  margin-bottom: 1em; }

.poem {
  width: 275px;
  margin: 0 auto;
  line-height: 2.2em;
  margin-top: 4em;
  margin-bottom: 6em;
  margin-left: calc(50% - 87px); }

.cv {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1.5em;
  margin-bottom: 6em; }
  .cv .label {
    margin-bottom: .5em;
    margin-top: 3em;
    text-transform: uppercase;
    font-weight: 700; }

#white-white-red .current-exhibit {
  margin: 0 auto;
  width: 70%;
  margin-bottom: 4em; }

.current-exhibit {
  margin: 0 5%;
  margin-top: 3em;
  margin-bottom: 3.5em; }
  .current-exhibit .label {
    font-size: .8em;
    margin-bottom: -.9em; }
  .current-exhibit ul li {
    font-size: 1.1em; }
    .current-exhibit ul li.ex-title {
      font-weight: 600;
      font-size: 1.5em;
      line-height: 2.2em; }
    .current-exhibit ul li em {
      font-style: italic; }

.icon {
  max-width: 20px;
  height: auto;
  height: auto;
  cursor: pointer;
  margin-top: 5px;
  opacity: 1;
  transition: all 250ms ease-in-out; }
  .icon:hover {
    opacity: .7; }

footer table {
  width: 70%;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 4em;
  margin-bottom: 1.5em;
  font-size: .85em; }
  footer table tr td a {
    color: rgba(75, 75, 75, 0.7); }
    footer table tr td a:hover {
      color: #4b4b4b; }
  footer table .logo img {
    width: 150px;
    opacity: 1;
    transition: all 250ms ease-in-out; }
    footer table .logo img:hover {
      opacity: .7; }
