/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-text-stroke: 1px transparent;
  font-smooth: always; }

a {
  transition: all 250ms ease-in-out; }

.main-wrapper {
  z-index: 20;
  background: url("http://adampere.com/spark/public/images/bg3ab.png");
  background-repeat: repeat;
  padding: 60px 0px;
  margin-top: 800px;
  position: relative; }

.main-container {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 750px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 20;
  width: calc(100% - 200px);
  color: #4b4b4b; }

.blog-link {
  position: fixed;
  left: 20px;
  bottom: 50%;
  transform: rotate(270deg);
  z-index: 30;
  transition: all 250ms ease-in-out; }
  .blog-link:hover {
    transform: scale(1.2, 1.2); }
  .blog-link a {
    z-index: 30;
    color: rgba(75, 75, 75, 0.7);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 22px; }

.logo-nav {
  position: fixed;
  left: 0;
  top: 60px; }
  .logo-nav .logo {
    text-decoration: underline;
    font-size: 26px;
    text-transform: capitalize; }
  .logo-nav a {
    color: rgba(75, 75, 75, 0.7);
    padding: 5px 10px;
    padding-right: 10px;
    display: table;
    background-color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    width: auto; }

.hero {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  cursor: pointer; }
  .hero .wrapper {
    position: relative;
    width: 100%;
    height: 750px;
    background-color: rgba(36, 36, 36, 0.4); }
    .hero .wrapper:hover .hero-text {
      transform: scale(1.04, 1.04);
      color: white; }
    .hero .wrapper:hover .overlay {
      background-color: rgba(36, 36, 36, 0.6); }
    .hero .wrapper .hero-image, .hero .wrapper .overlay {
      position: absolute;
      width: 100%;
      height: 750px;
      top: 0px;
      left: 0;
      z-index: 10; }
    .hero .wrapper .hero-image {
      background: url("http://adampere.com/spark/public/images/sanguine_hero.JPG");
      background-size: cover;
      background-position: center;
      z-index: 5;
      transition: all 250ms ease-in-out; }
    .hero .wrapper .overlay {
      transition: all 250ms ease-in-out;
      background-color: rgba(36, 36, 36, 0.4); }
    .hero .wrapper .hero-text {
      position: absolute;
      width: 100%;
      min-width: 600px;
      bottom: 15%;
      left: 0;
      z-index: 15;
      transition: all 250ms ease-in-out;
      color: #f4f1f1; }
      .hero .wrapper .hero-text .title, .hero .wrapper .hero-text .subtitle {
        text-align: center;
        margin: 0 auto;
        transition: all 250ms ease-in-out; }
      .hero .wrapper .hero-text .subtitle {
        margin-top: 10px; }

.content {
  min-height: 300px;
  padding: 30px; }

.project .project-info {
  margin-bottom: 40px;
  cursor: pointer; }
  .project .project-info:hover .title {
    color: #262626; }
  .project .project-info.margin-top {
    margin-top: 40px; }
  .project .project-info .title {
    transition: all 250ms ease-in-out; }
.project .row {
  width: auto;
  margin: 0 auto;
  margin-bottom: 40px; }
  .project .row.center {
    text-align: center; }
  .project .row.no-bottom {
    margin-bottom: 0px; }
  .project .row .one {
    width: 100%; }
    .project .row .one.medium {
      width: 70%; }
  .project .row .four {
    width: 20%;
    height: auto;
    padding: 0 2%; }
.project .statement {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px; }
  .project .statement p {
    margin-bottom: 10px; }
.project .title.small {
  margin-bottom: 20px; }
.project .project-item {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: inline-block; }
  .project .project-item.one {
    width: 80%; }
    .project .project-item.one img, .project .project-item.one div {
      width: 100%;
      height: auto;
      margin: 0 auto; }
    .project .project-item.one div {
      text-align: right; }
  .project .project-item.two {
    width: 40%; }
    .project .project-item.two:first-of-type {
      margin-right: 5%; }
    .project .project-item.two img, .project .project-item.two div {
      width: 100%;
      height: auto;
      margin: 0 auto; }
    .project .project-item.two div {
      text-align: right; }
  .project .project-item.three {
    width: 29%; }
    .project .project-item.three img, .project .project-item.three div {
      width: 100%;
      height: auto;
      margin: 0 auto; }
    .project .project-item.three div {
      text-align: right; }
  .project .project-item .item-title {
    font-style: italic; }
