extends ../_layout.jade

block hero-id
	- var heroID = "portfolio-hero"
block hero-title
	= "Portfolio"
block content
	include ../projects/homepage/white_white_red.jade
	hr
	br
	include ../projects/homepage/today_fri_sat_sun.jade
	hr
	br
	include ../projects/homepage/as_i_am_changing.jade