extends ../../layout.jade

block hero-id
	- var heroID = "today-fri-sat-sun-hero"
block hero-title
	| Today-Friday-Saturday-Sunday
block hero-subtitle
	| liturgical installation, photography, blog
block content
	#today-fri-sat-sun.project
		.project-info
			.title Today-Friday-Saturday-Sunday
			.medium
				| liturgical installation, photography, 
				a(sheripark.com='', today='') blog
			.year 2015
		.row.center
			img.lazy.one.small(data-original='/public/images/today_friday_saturday_sunday/Friday/friday-friday-4.JPG')
		.statement
			.label STATEMENT
			p
				| How do we encounter the divine within our tangible existence-as we work and worship together? How is the spiritual present in objects that we touch routinely, and how are ordinary objects transformed into symbols bearing divine presence? Today-Friday-Saturday-Sunday is an interdisciplinary art project that investigates my life, and the life of the communities I am a part of.
			p
				| My aim in this three part art project is to immerse myself, and the communities I am a part of, in a sacramental way of life during the Lenten season. Lent is a long period of fasting and preparation and reflects a journey with God; the growth of each project will be documented as part of the work. I and my communities &ndash church, work, and virtual &ndash use art as a Lenten discipline, collected ordinary materials or moments, which are typically thrown away or disregarded.
			p
				| By gathering found objects and incorporating the creation of my pieces into rituals over the Lenten season, the process of creating is removed from the confines of the studio and expands into my workplace, my home, my church, bridging the dichotomies between daily life and art making and expanding the notion of worship.
			p
				br
				a(href='http://sheripark.com/today/') [ visit the blog ]
		.title.small Friday
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Friday/friday-20.jpg')
		.row.center
			.project-item.two
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Friday/friday-21.JPG')
			.project-item.two
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Friday/friday-22.JPG')
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Friday/friday-friday-5.JPG')
		br
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Friday/friday-friday-1.JPG')
		.row.center
			.project-item.two
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Friday/friday-friday-2.JPG')
			.project-item.two
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Friday/friday-friday-4.JPG')
				.item-info
					.item-title Friday
					.item-medium Net & Paper
		.row.center
			.project-item.one.medium
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Friday/friday-3.jpg')
		br
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Friday/friday-6.JPG')
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Friday/friday-23.jpg')
		.title.small Saturday
		.row.center
			.project-item.one.large
				a(href='http://sheripark.com/today/')
					img.lazy(data-original='/public/images/today_friday_saturday_sunday/Saturday/saturday-blog.png')
				.item-info
					.item-title Saturday
					.item-medium
						a(href='http://sheripark.com/today/') [ Blog ]
		br
		br
		br
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Saturday/saturday-1.jpg')
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Saturday/saturday-2.jpg')
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Saturday/saturday-3.jpg')
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Saturday/saturday-4.jpg')
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Saturday/saturday-5.jpg')
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Saturday/saturday-6.jpg')
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Saturday/saturday-9.jpg')
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Saturday/saturday-10.jpg')
		.title.small Sunday
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Sunday/sunday-1.jpg')
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Sunday/sunday-2.jpg')
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Sunday/sunday-3.jpg')
				.item-info
					.item-title Sunday
					.item-medium towels and dryer sheets
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Sunday/sunday-4.JPG')
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Sunday/sunday-5.JPG')
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Sunday/sunday-6.JPG')
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/today_friday_saturday_sunday/Sunday/sunday-7.JPG')