extends ../layout.jade

block hero-id
	- var heroID = "about-hero"
block hero-title
	| Sheri Park
block hero-subtitle
	| Artist from the Bay Area, California
block main-container-id
	- var mainContainerID = "about"
block content
	.project-info
		.title Sheri Park
		.links
			a(href='mailto:info@sheripark.com') info [at] sheripark.com
			br
			| Sign up for 
			a(href='mailto:info@sheripark.com?subject=fast%20mail&body=Hi Sheri, I would love to sign up for your slow mail. My name is   _________ My address is ___________.') [ Slow Mail ]
			|  or  
			a(href='mailto:info@sheripark.com?subject=fast%20mail&body=Hi Sheri, I would love to sign up for your fast mail. My name is   _________. My email address is ___________.') [ Fast Mail ]
			| .
	p.statement
		| Themes of growth and change are the focus of my work: the entangling and liberating of groups of people, the shifting of the seasons, the mystery of myself maturing. What do the different phases look and feel like? What prompts or hinders these changes?
	p.statement
		| I explore these changes through interdisciplinary work, focusing on video/performance, photography, and found object collage construction. Each work reflects an inward journey. Using my own body in performance puts me in a vulnerable states where I am more able to achieve an emotional connection with my environment and with the viewer.
	p.statement
		| Understanding change is closely linked to correct perception, the ability to see the different pieces that make up one entity. Layers and multimedia work, then, are an important part of my work; as I explore change I build up, cover, peel back and expose different layers of paint, text, and pixels using organic lines and shapes that reflect the meandering lines of nature. I'm  drawn to layering and unveiling text amidst images. Words lead me to movements in my body, and the cycle of performance and creation continues.
	p.statement
		| My artistic process reflects the process of change and growth, from a disembodied concept to embodied action.  In looking deeply inward, I hope to describe a archetypal spiritual struggle.
	.current-exhibit
		.label
			| CURRENT EXHIBITION
		ul
			li.ex-title ARTVENTURES: A Sacred Look
			li Travis Auditorium at Fuller Theological Seminary, Pasedena, CA,
			li
				em May 14th
				| , 6:30&#8211;9:30pm;
		a(href='http://www.brehmcenter.com/activities/events/artventures-a-sacred-look') [ brehm center ]
		a(href='https://www.facebook.com/events/806787322723934/')
			img.lazy.icon.left-margin(data-original='/public/images/icon/fb.png')
	.cv
		.label EDUCATION
		ul
			li
				| 2014 Certificate in Theology and the Arts (candidate), Fuller Seminary, Menlo Park, CA
			li 2013 BA summa cum laude, Fine Arts, Union College, Schenectady, NY
			li 2009 Oxbow School of the Arts, Napa, CA
		.label EXHIBITIONS
		ul
			li 2015 Today-Friday-Saturday-Sunday, Fuller Seminary, Pasadena, CA
			li 2015 WHITE WHITE RED: living woman, Gallery Route One, Point Reyes, CA
			li
				| 2014 16th Annual Postcards From the Edge, Visual AIDS, Luhring Augustine, New York, NY
			li 2014 Fractured Yet Rising, ARC Gallery, Chicago, IL
			li 2014 College Collective, Genesee Pottery & Firehouse Gallery, Rochester, NY
			li
				| 2014 Small Works Auction, International Arts Movement with Ruby Garden Dreams, New York, NY.
			li
				| 2013 As I Am, Changing (solo), Burns Atrium Gallery, Union College, Schenectady, NY
			li 2013 Student Invitational, Mandeville Gallery, Union College, Schenectady, NY
			li 2012 Catalogue Card Art Competition, Library, Union College, Schenectady, NY
			li
				| 2011 Genesis & Dreamtime (solo), Wikoff Student Gallery, Union College, Schenectady, NY
			li
				| 2010-11, 2013 Visual Arts Steinmetz Exhibition, Burns Atrium Gallery, Union College, Schenectady, NY
		.label PUBLICATIONS
		ul
			li Cicada Magazine (cover), March 2010
			li Cicada Magazine (cover), February 2008
			li Letteri, Marianne (editor), Angels: Artists Imagine the Invisible, 2008, p.108
			li
				| Letteri, Marianne (editor), Women of the Bible: Mothers, Harlots, Wives, and Queens, 2008, p.27
		.label Press
		ul
			li
				| "
				a(href='http://www.dogpond.org/art/genesis-dreamtime-by-sheri-park/') Genesis and Dreamtime by Sheri Park
				| ", Dogpond, publication date: February 8, 2015
			li
				| "
				a(href='http://arts.intervarsity.org/creative-content/birth-over-waters') Birth (Over the Waters)
				| ", InterVarsity Arts Ministry, publication date: October 9, 2013
			li
				| Tina Lincer, "
				a(href='http://www.union.edu/news/stories/2013/05/student-spotlight-sheri-park-13.php') Student Spotlight: Sheri Park '13
				| ", Union College, publication date: May 13, 2013
			li
				| Elizabeth Cardella, "
				a(href='https://vimeo.com/62020427') Artist Spotlight: Sheri Park
				| ", Calvary Tabernacle, access date: July 30, 2013
			li
				| "Featured Creative Activist: Sheri Park", World Vision ACT:S, publication date: August 3, 2012
			li
				| Shilpa Darivemula, "Present: Artistic Expressions by Sheri Park", Union College Concordiensis publication date: Thursday, May 6, 2010
		.label GRANTS, AWARDS, RESIDENCES
		ul
			li 2014 Vallejo Pacific Studio residency, Vallejo, CA
			li
				| 2013 Juror's Choice Award, Just Art: Creative Competitions on Human Trafficking, The Price of Life, New York, NY
			li
				| 2013 Charles Alexander Richmond Prize in Fine Arts, Union College, Schenectady, NY
			li 2013 Student Research Grant, Union College, Schenectady, NY
			li 2012 Student Research Grant, Union College, Schenectady, NY
			li 2012 Undergraduate Summer Research Fellowship, Union College, Schenectady, NY
			li
				| 2012 Judge's Choice Award, Library Catalogue Card Art Competition, Union College, Schenectady, NY
			li
				| 2011 Arnold Bittleman Undergraduate Summer Research Fellowship, Union College, Schenectady, NY
		.label Teaching
		ul
			li 2014-15    Private In Home Art Teacher, Bay Area, CA
			li
				| 2013        Afterschool Art Teacher, Abracadabra Afterschool Program, Mountain View, CA
			li 2012 Visiting Art & Dance Teacher, Truong Vuong Middle School, Hanoi, Vietnam
			li 2010 Intern/Teaching Assistant, Lascaux Academy, Belmont, CA