// ****
// * Colors
// ****

// * Font Colors
$text-header-color: #f4f1f1;
$text-header-secondary-color: #c3c3c3;

$text-color: #4b4b4b;
$text-secondary-color: rgba(75, 75, 75, 0.7);

$title-hover-color: #262626;


// **
// * Background Colors
$background-trans-color: rgba(36,36,36, .4);
$background-trans-color-dark: rgba(36,36,36, .6);

$center-background-color: rgba(255, 255, 255, .75);


