// ****
// * Sizes
// ****
$hero-height: 90vh;

$max-main-container-width: 1200px;
$min-main-container-height: 100vh;
$main-container-margin: 100px;

$content-padding: 60px;

$project-margin: 4em;

$logo-width: 50px;


