// ****
// * Type
// ****

$font-serif: 'Source Sans Pro', serif;
$font-sans: 'Mate', sans-serif;

$normal: 400;
$bold: 600;

$title-font-size: 26px;
$logo-font-size: $title-font-size;

$title-line-height: 28px;