extends ../../_layout.jade

block hero-id
	- var heroID = "as-i-am-changing-hero"
block hero-title
	| As I Am, Changing
block hero-subtitle
	| videos & mixed media collage
block content
	#as-i-am-changing.project
		.project-info
			.title As I Am, Changing 
			.medium videos and mixed media collages
			.year 2012–2013
		.current-exhibit
			.label
				| CURRENT EXHIBITION
			ul
				li.ex-title 
					a(href='http://www.yellowren.co.jp/access.html') Yellowren Productions Japan
				li 2F, 1-11-19 Aobadai
				li Meguro-ku,
				li Tokyo 153-0042
				li.japanese 〒153-0042 東京都目黒区青葉台1-11-19, 2F
				li Saturday 3pm-6pm workshops (adults and children welcome) 10.29 (opening), 11.5, 11.12 (closing)
		.row.center
			img.lazy.one(data-original='/public/images/as_i_am_changing/vidoe.png')
		.statement
			.label STATEMENT
			p
				em As I Am, Changing
				|  is a series of videos and mixed media collages that explores growth and its process. The longing to change can degenerate into an anxiety-driven obsession, manifested in the body turning against itself. Perception is filtered by obsession, which distorts true understanding of the self and others. Lasting transformation is often caused by indirect forces; a random discovery may outweigh a multitude of deliberate attempts. Some change, like the seasons, can only happen in its own time.
			p
				| I am exploring this universal experience through self-portraiture. While a typical self-portrait focuses on the face, my self-portraits focus on my whole person, the self as regarded by the ancient Psalmists as a person's thoughts, feelings, will, body, and social relations, all held together by the soul.
			p
				| This integration of various forms of expression--poetry, performance, and painting--reflects this multilayered understanding of the self. The making of these works involved obscuring and exposing layers of image and text. This process of covering and unveiling mimics the changing of the seasons.
			p
				em As I Am, Changing
				|  depicts the struggle to change in the soul, as manifested in the body and articulated through poetry.
		.row.center.top-margin
			.project-item.one
				iframe(src='//player.vimeo.com/video/118439929?title=0&byline=0&portrait=0', width='100%', height='400', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
				.item-info
					.item-title Ascension
					.item-dimensions 4:50, dimensions variable
					.item-medium video
		.row.center
			.project-item.one
				iframe(src='//player.vimeo.com/video/118440407?title=0&byline=0&portrait=0', width='100%', height='400', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
				.item-info
					.item-title Bridge
					.item-dimensions 5:23, dimensions variable
					.item-medium video and painting
		.row.center.top-margin
			.project-item.one
				img.lazy(data-original='/public/images/as_i_am_changing/03prayer.jpg')
				.item-info
					.item-title Prayer
					.item-dimensions 14.5" x 22.375"
					.item-medium acrylic and oil pastel on inkjet print
		.row.center
			.project-item.one
				img.lazy(data-original='/public/images/as_i_am_changing/04caged.jpg')
				.item-info
					.item-title Caged
					.item-dimensions 14.5" x 22.375"
					.item-medium acrylic on inkjet print
		.row.center
			.project-item.one.top-margin
				iframe(src='//player.vimeo.com/video/118556769?title=0&byline=0&portrait=0', width='100%', height='400', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
				.item-info
					.item-title Returning
					.item-dimensions 4:23, dimensions variable
					.item-medium video
		.row.center.no-bottom.top-margin
			.project-item.one
				img.lazy(data-original='/public/images/as_i_am_changing/collage.JPG')
		.row.center
			.project-item.one.medium
				img.lazy(data-original='/public/images/as_i_am_changing/collage_detai.jpeg')
				.item-info
					.item-title Untitled Collages 1-3
					.item-dimensions 18" x 24"
					.item-medium mixed media
		.row.center.top-margin
			.project-item.two
				img.lazy(data-original='/public/images/as_i_am_changing/08_exhibition_setup.JPG')
			.project-item.two
				img.lazy(data-original='/public/images/as_i_am_changing/09_exhibition_setup.JPG')
				.item-info
					.item-title Exhibition Setup

