extends ../../layout.jade

block hero-id
	- var heroID = "stack-through-hero"
block hero-title
	| stack through
block hero-subtitle
	| acrylic on catalog cards
block content
	#stack-through.project
		.project-info
			.title stack through
			.medium acrylic on catalog cards
			.year 2011
		.statement
			.label STATEMENT
			p
				| This project was an early venture into creating work out of found objects from my local community, a method I am currently pursuing with 
				em YESTERDAY, TODAY, TOMORROW: glory
				| .  These catalog card cut outs also led me to the cut out elements of my undergraduate show, 
				em As I Am, Changing
				| , as well as other explorations of layers of overlapping text, as 
				em with WHITE WHITE RED: living woman
				| .
		.row.center.top-margin
			.project-item.one
				img.lazy(data-original='/public/images/stack_through/01_see.jpg')
				.item-info
					.item-title see
					.item-dimensions 3" x 4.75" x 3.5"
					.item-medium acrylic on catalog cards
		.row.center.top-margin
			.project-item.one
				img.lazy(data-original='/public/images/stack_through/02_children_of_disorg.jpg')
				.item-info
					.item-title freedom
					.item-dimensions 3" x 4.75" x 3.5"
					.item-medium acrylic on catalog cards
		.row.center.top-margin
			.project-item.one
				img.lazy(data-original='/public/images/stack_through/03_patterns_of_problem.jpg')
				.item-info
					.item-title patterns
					.item-dimensions 3" x 4.75" x 3.5"
					.item-medium acrylic on catalog cards