footer
	table
		tbody
			tr
				td
					a.logo(href="http://www.sheripark.com")
						img.lazy(data-original= "/public/images/gen/logo2.png")
				td
					a.black(href = "/portfolio/") Portfolio
				td
					a.black(href = "/archive/") Archive
				td
					a.black(href = "https://blog.sheripark.com") Blog
			tr
				td
					a(href = "mailto:info@sheripark.com") info [at] sheripark.com
				td
					a(href = "/portfolio/white-white-red/") White White Red
				td
					a(href = "/archive/still-hanoi-move/") Still Hanoi Move
				td
			tr
				td
					a(href = "mailto:info@sheripark.com?subject=fast%20mail&body=Hi Sheri, I would love to sign up for your slow mail. My name is   _________ My address is ___________.") [ Slow ]
					= or
					a(href = "mailto:info@sheripark.com?subject=fast%20mail&body=Hi Sheri, I would love to sign up for your fast mail. My name is   _________. My email address is ___________.") [ Fast ]
					= Newsletter
				td
					a(href = "/portfolio/as-i-am-changing/") As I Am, Changing
				td
					a(href = "/archive/stack-through/") stack through
				td
			tr
				td
				td
				td
					a(href = "/archive/genesis-and-dreamtime/") Genesis and Dreamtime