.logo-nav
  a.logo(href = "http://www.sheripark.com")
    img.lazy(data-original= "/public/images/gen/logo.png")
  ul.nav
    li
      a(href = "/about/") About
    li
      a(href = "/portfolio/") Portfolio
    li
      a(href = "http://blog.sheripark.com") Blog
    li
      a(href = "/archive/") Archive