.logo-nav
	a.logo(href = "http://www.sheripark.com")
		img.lazy(data-original= "/public/images/gen/logo.png")
	ul.nav
		li
			a(href = "/about/") About
			a(href = "/portfolio/") Portfolio
			a(href = "http://blog.sheripark.com") Blog
			a(href = "/archive/") Archive