extends ../../_layout.jade

block hero-id
	- var heroID = "still-hanoi-hero"
block hero-title
	| Still Hanoi Move
block hero-subtitle
	| digital photos
block content
	#still-hanoi.project
		.project-info
			.title Still Hanoi Move
			.medium digital photos
			.year 2011
		.row.center
			img.lazy.one(data-original='/public/images/still_hanoi_move/06park_peopleVn2011_extra1.JPG')
		.statement
			.label STATEMENT
			p
				| Taken during my 12 week stay in the bustling capitol of Vietnam, this digital street photography depicts people using various means of transportation. 
				em Still Hanoi Move
				|  abstracts or visually stutters the motion and image, as with the shadow silhouettes of Spin III (Other Side) and Wild Ride, or with the panoramic shots Walk Out, Rushing Waiting, and (((()). By exaggerating movement or finding still moments in the midst of streaking cars, Still Hanoi Move both reigns in and travels with the motion of the city.
		.row.center.top-margin
			.project-item.one
				img.lazy(data-original='/public/images/still_hanoi_move/01park_hanoivn2011_05.JPG')
				.item-info
					.item-title Walk Out
					.item-dimensions dimensions variable
					.item-medium digital photo
		.row.center.top-margin
			.project-item.one
				img.lazy(data-original='/public/images/still_hanoi_move/02park_landscapeVn2011_extra3.JPG')
				.item-info
					.item-title Next Door
					.item-dimensions dimensions variable
					.item-medium digital photo
		.row.center.top-margin
			.project-item.one
				img.lazy(data-original='/public/images/still_hanoi_move/03park_hanoivn2011_06.jpg')
				.item-info
					.item-title Spin III (Other Side)
					.item-dimensions dimensions variable
					.item-medium digital photo
		.row.center.top-margin
			.project-item.one
				img.lazy(data-original='/public/images/still_hanoi_move/04park_landscapeVn2011_2.JPG')
				.item-info
					.item-title GO GO (go) go
					.item-dimensions dimensions variable
					.item-medium digital photo
		.row.center.top-margin
			.project-item.one
				img.lazy(data-original='/public/images/still_hanoi_move/05park_hanoivn2011_09.jpg')
				.item-info
					.item-title Wild Ride
					.item-dimensions dimensions variable
					.item-medium digital photo
		.row.center.top-margin
			.project-item.one
				img.lazy(data-original='/public/images/still_hanoi_move/06park_peopleVn2011_extra1.JPG')
				.item-info
					.item-title Rushing Waiting
					.item-dimensions dimensions variable
					.item-medium digital photo
		.row.center.top-margin
			.project-item.one
				img.lazy(data-original='/public/images/still_hanoi_move/07park_peopleVn2011_4.JPG')
				.item-info
					.item-title Draining
					.item-dimensions dimensions variable
					.item-medium digital photo
		.row.center.top-margin
			.project-item.one
				img.lazy(data-original='/public/images/still_hanoi_move/08park_xtragood4.JPG')
				.item-info
					.item-title Glow (Round and Round) 
					.item-dimensions dimensions variable
					.item-medium digital photo
		.row.center.top-margin
			.project-item.one
				img.lazy(data-original='/public/images/still_hanoi_move/09park_hanoivn2011_03.jpg')
				.item-info
					.item-title (((())
					.item-dimensions dimensions variable
					.item-medium digital photo